.nav-title {
  font-weight: bold;
  margin-left: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.has-margin-left {
  margin-left: 1rem;
}

.has-margin-bottom {
  margin-bottom: 1rem;
}

#task-container {
  padding: 2rem 0;
}

.task-container-empty {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-content {
  flex-direction: row;
  display: flex;
}

.card-icon {
  margin-top: 0.125rem;
  margin-right: 0.25rem;
}
